{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example template</title>
</head>
<body>
    <center>
        <hr/>
        <form method="POST">
            {% csrf_token %}
        <table border="1">
            <tr>
                <td>User_name: </td>
                <td><input type="text" placeholder="Enter your name" name="pname"></td>
                <td></td>
            </tr>
            <tr>
                <td>Email_id: </td>
                <td><input type="email" placeholder="Enter your email" name="pemail"></td>
                <td></td>
            </tr>
            <tr>
                <td>Username:  </td>
                <td><input type="text" placeholder="Enter your username" name="pusername"></td>
                <td></td>
            </tr>

        </table>
        <input type="submit" value="Insert"/>
    </form>
    </center>
    
</body>
</html> {% endcomment %}